/* CSS Comments Format */

body {
  background-color: darkgrey;
  /* text-align: center; */
  margin: 8rem;
}

input {
  width: 20rem;
  background-color: lightcyan;
  display: block;
  margin: 1rem 0;
}

button {
  display: block;
}
